ServerTest/obj/Debug/
ServerTest/bin/Debug/ServerTest.vshost.exe.manifest
ServerTest/bin/Debug/ServerTest.vshost.exe
ServerTest/bin/Debug/
ServerTest/bin/Release/ServerTest.exe
ServerTest/bin/Release/ServerTest.exe.config
ServerTest/bin/Release/ServerTest.pdb
ServerTest/bin/Release/ServerTest.vshost.exe
ServerTest/bin/Release/ServerTest.vshost.exe.config
ServerTest/bin/Release/ServerTest.vshost.exe.manifest
ServerTest/obj/Release/ServerTest.exe
ServerTest/obj/Release/ServerTest.pdb
